.details-container{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}

.doctors{
    padding: 1em 0;
    width:700px;
    text-align: center;
}

.doc-img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
  }
  
.doc-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.doc-LE{
    display:flex;
    justify-content: space-evenly;
    color: rgb(55, 55, 55);
}

.doc-LE h5{
    display: flex;
    align-items: center;
}